* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
    font-family: sans-serif
}

.highScoreBttn{
    background-color: white;
    border: none;
}

.outerContainer {
    height: 100vh;
    padding: 10px;
}

.innerContainer {
    width: 50%;
    height: 100%;
    margin: auto;
    padding-top: 10rem;

}

.quizHeader {
    display: flex;
    /* justify-content: center; */
    font-size: 1.3rem;
    padding-bottom: 1%;
}

#back-btn{
    background-color: darkblue;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
}

#back-btn:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 212);
}

#clear-scores{
    background-color: darkblue;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
}

#clear-scores:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 212);
}

.userscore{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(187, 187, 247);
    padding-inline-start: 1rem
}